<!doctype html>
<title>Pigreen</title>
<h1>Settings</h1>
<table>
    {% for key, value in config.items() %}
    <tr>
        <td><b>{{key}}</b></td> <td>{{value}}</td>
    </tr>
    {% endfor %}

</table>
<h1>Configuration</h1>
<p>
    Light: 
    <a href="/set/light_setting/on/str">On</a>
    <a href="/set/light_setting/off/str">Off</a>
    <a href="/set/light_setting/auto/str">Auto</a>
</p>
<p>
    Pump: 
    <a href="/set/pump_setting/on/str">On</a>
    <a href="/set/pump_setting/off/str">Off</a>
    <a href="/set/pump_setting/auto/str">Auto</a>
</p>
<p>
    Fan: 
    <a href="/set/fan_setting/on/str">On</a>
    <a href="/set/fan_setting/off/str">Off</a>
    <a href="/set/fan_setting/auto/str">Auto</a>
</p>

<form action="/post" method="post">
    Light Start:
    <input name="light_start" value="{{config.light_start}}" />
    <br>
    Light End:
    <input name="light_end" value="{{config.light_end}}" />
    <br>
    Pump interval:
    <input name="pump_interval" value="{{config.pump_interval}}" /> Minutes
    <br>
    Pump length:
    <input name="pump_length" value="{{config.pump_length}}" /> Minutes
    <br>
    Fan interval:
    <input name="fan_interval" value="{{config.fan_interval}}" /> Minutes
    <br>
    Fan length:
    <input name="fan_length" value="{{config.fan_length}}" /> Minutes
    <br>
    Logging interval:
    <input name="pump_length" value="{{config.logging_interval}}" /> Minutes
    <br>
    Channel light:
    <input type="number" name="channel_light" value="{{config.channel_light}}" /> Minutes
    <br>
    Channel pump:
    <input type="number" name="channel_pump" value="{{config.channel_pump}}" /> Minutes
    <br>
    Channel fan:
    <input type="number" name="channel_fan" value="{{config.channel_fan}}" /> Minutes
    <br>
    <input type="submit" value="Set"/>
</form>